.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 0px 10px;
  overflow: hidden;
  background-color: #dfdfef;
}

.menu a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.menu-link {
  float: left;
  padding: 14px 16px;
  margin: 0;
}

.menu-link:hover {
  background-color: #ebebf3;
}

.active {
  font-weight: bold;
  background-color: #f8f8f8;
}

.active:hover {
  font-weight: bold;
  background-color: #f8f8f8;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.comments {
  font-size: 0.9em;
}

.margin-left-10 {
  margin-left: 10px;
}

@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1.5s step-start 0s infinite;
}

.iconbtn{
  padding: 2px;
}

.iconbtn:hover{
  font-size: 1.5em;
}