.ProjectCardStyle {
  margin-top: 1em;
}
@media (orientation: landscape) {
  .ProjectCardStyle .projectList {
    font-size: 1.2em;
    align-content: space-around;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, minmax(10em, 25vw));
    grid-gap: 1em;
 }
}
@media (orientation: landscape) and (max-aspect-ratio: 1.5) {
  .ProjectCardStyle .projectList {
    grid-template-columns: repeat(2, minmax(20em, 40vw));
 }
}
@media (orientation: portrait) {
  .ProjectCardStyle .projectList {
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
 }
}
.ProjectCardStyle a {
  font-weight: 600;
}
.ProjectCardStyle .projectListItem {
  font-size: 1em;
  border: 0.2em solid var(--ifm-color-content);
  border-radius: 1em;
  padding: 1em;
}
.ProjectCardStyle .projectListItem h2 {
  font-size: 1.5em;
}
